<h1>게시글 수정</h1>
    <%= form_tag("/post/update/#{@post.id}", method: "get") do%>
    <%= label_tag(:title, "제목 : ")%>
    <%= text_field_tag(:title, "#{@post.title}")%>
    <br>
    <%= label_tag(:content, "내용 :")%>
    <%= text_field_tag(:content, "#{@post.content}")%>
    <br>
    <%=submit_tag("수정하기")%>
<% end %>